In [1]:
import pandas as pd
import numpy as np
from boruta import BorutaPy
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_curve 
from copy import deepcopy

from scipy.stats import chi2_contingency

from xgboost import XGBClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

from sklearn.svm import SVC

from sklearn.model_selection import KFold, cross_val_score

import copy
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure

C:\ProgramData\Anaconda3\lib\site-packages\xgboost\compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

# Setup Dataframe

In [2]:
df = pd.read_csv("Covid-19_dataset.csv",header=1)
df['is_Male'] = pd.get_dummies(df['Gender'])['MALE']#one hot encoding gender so male = #1 and female = 0
# df['is_Female'] = pd.get_dummies(df['Gender'])['FEMALE']

In [3]:
df_bloodType = pd.get_dummies(df['Blood_Group'])

# Remove unwanted features and set up One Hot Encoding

In [4]:
blacklist = ['Age',' Incubation period (days)','Blood_Group','CONTROL_blood_group','Risk_Factor','Infection_type','Gender','Place_of_isolation','Patient_In','Patient_out']
labels = ['Severeity','Outcome']
df = df.drop(blacklist,axis=1)
df

,Severeity,Outcome,Fever,Chills,Cough,Dyspnea,Anosmia_Ageusia,Loss_of_appetite,Asthenia,Headache,Muscle_ache,Cyanosis,Rhinorrhea,Sore_throat,Diarrhea,Nausea_vomiting,is_Male
0,Moderate,Recovered,1,1,1,1,1,1,1,1,1,0,0,1,1,0,1
1,Mild,Recovered,1,0,1,0,1,1,1,1,1,0,0,1,1,1,1
2,Severe,Died,1,1,1,1,0,0,1,1,0,1,0,1,0,0,1
3,Moderate,Recovered,1,0,1,0,1,1,1,1,1,0,1,0,1,0,1
4,Moderate,Recovered,0,0,1,0,1,1,1,1,1,0,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5663,Moderate,Recovered,1,0,1,1,1,1,1,1,1,0,1,0,0,1,1
5664,Severe,Died,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
5665,Severe,Died,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1
5666,Severe,Died,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
5667,Severe,Died,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [5]:
all_columns = set(df.columns)
all_columns = all_columns - set(['Severeity','Outcome'])
all_columns = list(all_columns)
df = pd.concat([df,df_bloodType],axis=1)

# Reset cells to remove empty values

In [6]:
label_Severeity = df['Severeity'] #Severeity vs Outcome
label_Outcome = df['Outcome']
df = df.drop(['Severeity','Outcome'],axis=1)
df.dropna( inplace=True)
df = df.applymap(lambda x: pd.to_numeric(x, errors='coerce'))#strings to numeric
df

,Fever,Chills,Cough,Dyspnea,Anosmia_Ageusia,Loss_of_appetite,Asthenia,Headache,Muscle_ache,Cyanosis,...,Nausea_vomiting,is_Male,A+,A-,AB+,AB-,B+,B-,O+,O-
0,1,1,1,1,1,1,1.0,1.0,1.0,0,...,0,1,1,0,0,0,0,0,0,0
1,1,0,1,0,1,1,1.0,1.0,1.0,0,...,1,1,0,0,0,0,0,0,1,0
2,1,1,1,1,0,0,1.0,1.0,0.0,1,...,0,1,1,0,0,0,0,0,0,0
3,1,0,1,0,1,1,1.0,1.0,1.0,0,...,0,1,1,0,0,0,0,0,0,0
4,0,0,1,0,1,1,1.0,1.0,1.0,0,...,0,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5663,1,0,1,1,1,1,1.0,1.0,1.0,0,...,1,1,0,0,0,0,1,0,0,0
5664,1,1,1,1,1,1,1.0,1.0,1.0,1,...,1,1,0,0,0,0,1,0,0,0
5665,1,1,1,1,1,1,0.0,1.0,1.0,1,...,1,1,0,0,0,0,1,0,0,0
5666,1,1,1,1,1,1,1.0,1.0,1.0,1,...,1,1,1,0,0,0,0,0,0,0
5667,1,1,1,1,1,1,1.0,1.0,1.0,1,...,1,1,1,0,0,0,0,0,0,0

# Chi-Square Test of independence

In [7]:
df_Chi = deepcopy(df)

In [8]:
map_mortality = {"Died":0,"Recovered":1}
label_Outcome_mapped = deepcopy(label_Outcome)
label_Outcome_mapped = label_Outcome_mapped.map(map_mortality)

In [9]:
label_Outcome.head(5)

0    Recovered
1    Recovered
2         Died
3    Recovered
4    Recovered
Name: Outcome, dtype: object

In [10]:
# label_Outcome_mapped
map_key = {1:"True",0:"False"}

for c in df_Chi.columns:
    df_Chi[c] = df_Chi[c].map(map_key)

In [11]:
df_Chi

,Fever,Chills,Cough,Dyspnea,Anosmia_Ageusia,Loss_of_appetite,Asthenia,Headache,Muscle_ache,Cyanosis,...,Nausea_vomiting,is_Male,A+,A-,AB+,AB-,B+,B-,O+,O-
0,True,True,True,True,True,True,True,True,True,False,...,False,True,True,False,False,False,False,False,False,False
1,True,False,True,False,True,True,True,True,True,False,...,True,True,False,False,False,False,False,False,True,False
2,True,True,True,True,False,False,True,True,False,True,...,False,True,True,False,False,False,False,False,False,False
3,True,False,True,False,True,True,True,True,True,False,...,False,True,True,False,False,False,False,False,False,False
4,False,False,True,False,True,True,True,True,True,False,...,False,True,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5663,True,False,True,True,True,True,True,True,True,False,...,True,True,False,False,False,False,True,False,False,False
5664,True,True,True,True,True,True,True,True,True,True,...,True,True,False,False,False,False,True,False,False,False
5665,True,True,True,True,True,True,False,True,True,True,...,True,True,False,False,False,False,True,False,False,False
5666,True,True,True,True,True,True,True,True,True,True,...,True,True,True,False,False,False,False,False,False,False
5667,True,True,True,True,True,True,True,True,True,True,...,True,True,True,False,False,False,False,False,False,False

In [12]:
def rank(predictor):
    X = pd.DataFrame(df[predictor])

    contingency_table = pd.crosstab(label_Outcome_mapped, X[predictor])

    # Apply chi-square test
    chi2, p_value, dof, expected_freq = chi2_contingency(contingency_table)
    
    
    return chi2, p_value, dof, expected_freq



list_of_corr = []

for feature in all_columns:
    chi2, p_value, dof, expected_freq = rank(feature)
    list_of_corr.append({"Feature":feature, "Chi" : round(chi2,3),'p_value': round(p_value,3)})

    

df_corr = pd.DataFrame(list_of_corr)
# df_abs = pd.DataFrame(abs_corr)
#https://towardsdatascience.com/feature-selection-with-boruta-in-python-676e3877e596

In [13]:
df_corr = df_corr.sort_values(by=['Chi'], ascending=False)
df_corr

             Feature      Chi  p_value
5           Cyanosis  279.410    0.000
10          Diarrhea    3.731    0.053
1        Sore_throat    2.671    0.102
14             Cough    2.617    0.106
6             Chills    1.887    0.170
2            is_Male    1.698    0.192
7            Dyspnea    1.505    0.220
9           Asthenia    1.417    0.234
0             Fever     0.588    0.443
3    Nausea_vomiting    0.431    0.512
11          Headache    0.407    0.524
12        Rhinorrhea    0.285    0.593
8    Anosmia_Ageusia    0.015    0.903
4   Loss_of_appetite    0.000    1.000
13       Muscle_ache    0.000    1.000

# Pearson

In [14]:
def rank(predictor):
    X = pd.DataFrame(df[[predictor]])

    corr_val = label_Outcome_mapped.corr(X[predictor],method='pearson')
    return corr_val



list_of_corr = []
abs_corr = []
for feature in all_columns:
    c = rank(feature)
    list_of_corr.append({"Feature":feature, "Pearson" : c})
    abs_corr.append({"Feature":feature, "Abs Pearson" : abs(c)})
    

df_corr = pd.DataFrame(list_of_corr)
df_abs = pd.DataFrame(abs_corr)

In [15]:
df_abs = df_abs.sort_values(by=['Abs Pearson'], ascending=False)
df_abs.head(5)

        Feature  Abs Pearson
5      Cyanosis     0.224683
10     Diarrhea     0.026889
1   Sore_throat     0.023396
14        Cough     0.023378
6        Chills     0.019342

# Spearman

In [16]:
def rank(predictor):
    X = pd.DataFrame(df[[predictor]])

    corr_val = label_Outcome_mapped.corr(X[predictor],method='spearman')
    return corr_val



list_of_corr = []
abs_corr = []
for feature in all_columns:
    c = rank(feature)
    list_of_corr.append({"Feature":feature, "Pearson" : c})
    abs_corr.append({"Feature":feature, "Abs Pearson" : abs(c)})
    

df_corr = pd.DataFrame(list_of_corr)
df_abs = pd.DataFrame(abs_corr)

In [17]:
df_abs = df_abs.sort_values(by=['Abs Pearson'], ascending=False)
df_abs.head(5)

        Feature  Abs Pearson
5      Cyanosis     0.224683
10     Diarrhea     0.026889
1   Sore_throat     0.023396
14        Cough     0.023378
6        Chills     0.019342